@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


.suse-mono {
    font-family: "DynaPuff", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* width: 100; */

}

@layer utilities {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

.custom-shadow {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}